@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";

/* 2560px 이상의 해상도를 위한 설정 */
@media (min-width: 2560px) {
  .container {
    max-width: 1600px;
  }
}


#main {
  width: 100%;
  background-color: oklch(83.262% 0.04127 17.887);
}

#header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: rgb(250, 223, 184);

}

.header-container{
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
    padding-left: 32px;
  padding-right: 32px;
}


#page-Name {
  font-size: 1.5rem;
}

.header-nav-container {
  margin-left: 7rem;
}


.header-nav-list {
  display: flex;
  /* flex-direction: column; */

}

.header-nav {
  margin: 1rem;
  font-size: 1.1rem;
}

.right_header {
  margin-left: auto;
}


/* container line */
#container {
  width: 100%;
  /* height: 100vh; */
  
  padding-left: 32px;
  padding-right: 32px;

  background-color: azure;
}

.content{
  width: 100%;
  max-width: 1440px;
    margin-left: auto;
  margin-right: auto;
  height: 30rem;
  background-color: rgb(219, 253, 253);
}
















/* 
body {
  width: 100%;
}

#root {
  max-width: 1280px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
} */